<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>このページは株式会社カガヤの部品の位置情報を表示するためのページです</p>
    
    <h1>データベース</h1>
    <p>
        
    
    <% rows.forEach(function(row) { %>
        <ol>
            <li>place_id: <%= row.place_id %>, part_id: <%= row.part_id %></li>
        </ol>
    <% }) %>
    </p>
  </body>
</html>
